
body, html{
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 0;
}

.page-header{
    background-color: #eee;
    margin: 0px 0 20px;
    border-bottom: 2px solid #666666;
}

.register-from{
    width: 500px;
}